body {
  background: peachpuff;
}

.a, .b, .c, .d, .e, .f, .g, .h {
  background-color: #d8d8d8;
  border: 1px solid #5e5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat (3, fr);
  grid-template-rows: repeat (3, 1fr);
  grid-gap: 1em;
  margin: 1em;
  width: 95vw;
  height: 95vh;
}

.a {
  grid-area: 1 / 1 / 3 / 4;

}


.b {
 grid-area: 3 / 1 / 5 / 2;
}

.c {
  grid-area: 3 / 2 / 5 / 3;
}

.d {
  grid-area: 3 / 3 / 5 / 4;
}

.e {
  grid-area: 5 / 1 / 7 / 2;
}

.f {
  grid-area: 5 / 2 /7 / 3;
}

.g {
  grid-area: 5 / 3 / 7 / 4;
}


.h {
  grid-area: 7 / 1 / 11 / 4;
}



@media (min-width: 1240px){
  .container{
    display: grid;
    grid-template-columns: repeat (4, fr);
    grid-template-rows: repeat (4, 1fr);
    grid-gap: 1em;
    margin: 1em;
    width: 95vw;
    height: 95vh;
  
  }

  .a {  
    grid-area: 1 / 1 / 3 / 5;
  }

  .h {
    grid-area: 3 / 4 / span 4 / span 1;
  }

}